@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color : white;
    --bg-color: #212121;
    --font-page:"poppins",sans-serif;
    --card-color:black;
    --card-bg-color:#fafafa;
}
body{
    background-color: var(--bg-color);
    color: var(--color);
    display: flex;
    font-family:var(--font-page);
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    box-shadow: 0 0 2px white;
    background-color: var(--bg-color);
    z-index: 100;
}
#nav-icon{
    height: 40px;
    margin-left: 10px;
}
li{
    list-style-type: none;
    cursor: pointer;
}
.nav-wrapper-tabs ul{
     display: flex;
     justify-content: space-between;
     width: 700px;
     font-size: 1.1rem;
     /* background-color: grey; */
}
.nav-wrapper-tabs ul li{
    width: 120px;
    text-align: center;
    padding : 5px;
}
.nav-wrapper-tabs ul li:active{
    color: aqua;
}
.nav-wrapper-tabs ul li:hover{
    color: aqua;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
}
.nav-wrapper-search{
    display: flex;
    align-items: center;
    /* background-color: grey; */
    margin-right: 10px;
    height: 100%;
}
#search-item{
    height: 30px;
    width: 230px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: var(--font-page);
    text-align: center;
    background-color: var(--bg-color);
    border: none;
    color: var(--color);
}

.main-container{
 
    width: 100vw;
    margin-top: 70px;
    /* background-color: grey; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    max-height: 350px;
    width: 320px;
    background-color:var(--card-bg-color);
    color: var(--card-color);
    margin :20px 40px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
#title{
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
#source{
    margin-left: 8px;
    font-family:'Times New Roman', Times, serif;
    font-size: 0.9rem;
    margin-top: 4px;
}
#description{
    font-size: 0.7rem;
    margin-top: 3px;
    margin-left: 8px;
}
.card:hover{
    /* transform: scale(1.02); */
    translate:0px -3px;
    transition: ease-in-out 0.2s;
    box-shadow: 0 6px 0px rgb(37, 122, 232);
    background-color: rgb(208, 227, 230);
}


@media (max-width:768px){
    .nav-wrapper-tabs ul{
        display: none;
    }
    #search-item{
        background-color: beige;
        color: black;
    }
    #nav-icon{
        display: none;
    }
    nav{
        justify-content: center;
    }
    #description{
        display: none;
    }
    .card{
        max-height: 140px;
    }
    .card img{
        height: 40%;
    }

}